.tournamentManagerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr; // Adjust the column widths as needed
    grid-gap: 20px; // Adjust the gap between the columns as needed
  }
  .tournamentButtonsContainer {
    display: grid;
    place-items: center;
    height: 100%;
  }
  