$screen-mid: 992px;
$screen-normal: 993px; 

@mixin small{
  @media (max-width: #{$screen-mid}) {
    @content;
  }
}

@mixin normal{
  @media (min-width: #{$screen-normal}) {
    @content;
  }
}

.cards-container {
  background-color: rgba(39, 39, 39, 0.5);
  display: grid;
  gap: 15px;
  padding-bottom: 1rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1.9rem;

  @include normal(){
    grid-template-columns: auto auto auto;
  }

  @include small{
    grid-template-columns: auto;
  }
}

.card-six,
.card-one,
.card-two,
.card-three,
.card-four,
.card-five {
  /* Button Teilnehmer */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  //width: 25em;
  height: 25em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  cursor: pointer;

  @include small{
    width: 100%;
    height: 20rem;
  }

}

.card-one {
  background: #001AFF;
}

.card-two {
  background: #FFFFFF;
}

.card-three {
  background: #001AFF;
}

.card-four {
  background: #FFFFFF;
}

.card-five {
  background: #001AFF;
}

.card-six{
  background: #FFFFFF;
}


.card-text-white,
.card-text-blue {
  /* Teilnehmer */
  display: flex;
  flex-direction: column; /* Icon über dem Text anordnen */
  align-items: center;
  justify-content: center;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  padding: 5%;
  font-size: 1.2vw; /* Schriftgröße in vw */
  line-height: 2.5vh; /* Zeilenhöhe in vh */
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;

  @include small{
    font-size: 20px; 
  }
}

.card-text-white {
  color: #FFFFFF;
}

.card-text-blue {
  color: rgba(0, 26, 255, 0.86);
}

.card-icon-white,
.card-icon-blue {
  /* Icon-Styling */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 2vw; /* Icon-Größe in vw */

  @include small{
    font-size: 20px; 
  }
}

.card-icon-white {
  color: white;
}

.card-icon-blue {
  color: blue;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
