.topContainer{
    display: flex;
    background-color: black;
    width: 100%;
    height: 50%
}

.weightLabel{
    color: orange;
    font-size: 300%;
    display: flex;
    width: 33%;
    height: 400px;
    left: 0%;
    justify-content: left;
}

.topTimer {
    display: flex;
    width: 33%;
    left: 33%;
    justify-content: center;
    align-items: center;
  }

  .timer {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 300%;
  }

.preliminaryRound{
    display: flex;
    color: orange;
    width: 34%;
    font-size: 300%;
    left: 66%;
    justify-content: right;
}

.main {
    display: flex;
    height: 100%; /* oder eine feste Höhe */
}

.mainLeft {
    flex: 1;
    background-color: white;
    padding-bottom: 50%;
}

.mainRight {
    flex: 1;
    background-color: blue;
    padding-bottom: 50%;
}

.mainLeftName{
    margin-left: 1%;
    margin-top: 2%;
    font-size: 400%;
}

.mainLeftClub{
    margin-left: 1%;
    font-size: 350%;
}

.mainLeftLandesverband{
    margin-left: 1%;
    font-size: 300%;
}

.points{
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.pointLeft{
    display: 1;
    margin-left: 10%;
    font-size: 500%;
}

.pointRight{
    flex: 1;
    width: 50%;
    font-size: 400%;
    margin-left: 20%;
}

.redCard{
    flex: 1;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: red;
}