/* TournamentForm.css */

/* Importiert die Nunito Schriftart von Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');
@import url('./../../../Styles/GlobalStyles.scss');

$screen-mid: 888px;
$screen-normal: 1000px;

@mixin small{
  @media (max-width: #{$screen-mid}) {
    @content;
  }
}

@mixin normal{
  @media (min-width: #{$screen-normal}) {
    @content;
  }
}

/* Styling für den Formulartitel */
body .titleStyle {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 2em;
}

/* Styling für die Beschriftung der Eingabefelder */
.inputLabel {
    font-family: 'Nunito', sans-serif;
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.35em;
    letter-spacing: -0.02em;
    color: #000000;
    position: absolute;
    top: -1.4em; /* Abstand nach oben anpassen */
    left: 0;
}

.inputFieldWide {
    width: 243px;
    box-sizing: border-box;
    border: none;
    background: none;
    height: 30px;
    border-radius: 5px;
    padding: 0 0.625em;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    background: #EDEFF2;
    align-self: flex-start;
}

.inputFieldSmall {
    width: 117px;
    box-sizing: border-box;
    border: none;
    background: none;
    height: 30px;
    border-radius: 5px;
    padding: 0 0.625em;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    background: #EDEFF2;
    align-self: flex-end;
}

/* Styling für den "Hinzufügen" Button */
.addButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 367px;
    height: 1.6875em;
    background: #001AFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 1.5em;
    font-weight: 900;
    line-height: 2.0625em;
    letter-spacing: -0.02em;
    border: none;
    cursor: pointer;
    margin-top: -1.125em;
}

.tournamentEditForm{
    display: flex;
    flex-direction: column;
    
    @include small{
        margin-top: 10vh;
    }
}



.buttonSectionTournamentEdit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 5vh;

    @include small{
        margin-top: 12vh;
    }
}

.tournamentEditMain{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling für den "Hinzufügen" Button beim Mouseover */
.addButton:hover {
    background: #000A91;
}

/* Styling für den "Hinzufügen" Button beim Klicken */
.addButton:active {
    background: #00056D;
}

/* Styling für Dropdown-Felder */
.selectField {
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 0 0.625em;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    background: #EDEFF2;
    appearance: none;
    position: relative;
    height: 1.9375em;
    -moz-appearance: none;
    -webkit-appearance: none;
}

/* Styling für das Pfeil-Icon von Dropdown-Feldern */
.selectField:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0.625em;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #001AFF;
    transform: translateY(-50%);
}

/* Styling für den Formularcontainer */
.formContaineTournament {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* zentriert die Elemente horizontal */
    height: 100%; /* Füllt die gesamte verfügbare Höhe des übergeordneten Containers aus */
}


/* Styling für den Container der Dropdown-Felder */
.selectContainer {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* Styling für das Pfeil-Icon von Dropdown-Feldern */
.selectContainer:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0.625em;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #001AFF;
    transform: translateY(-50%);
}


.inputContainerSelect {
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 0 0.625em;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    background: #EDEFF2;
    appearance: none;
    position: relative;
    height: 1.9375em;
    box-sizing: border-box;
  }
  

/* Styling für das Pfeil-Icon von Dropdown-Feldern */
.inputContainerSelect:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0.625em;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #001AFF;
    transform: translateY(-50%);
  }

.halfWidthWrapperAddress {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* zentriert die Elemente horizontal */
    margin-top: -42px;
}



/* Styling für die Eingabefelder in dem "halbe Breite" Container */
.inputContainer.halfWidth {
    width: 100%;
    margin-bottom: 2.9375em;
    height: 1.9375em;
}

/* Entfernt den rechten Abstand vom letzten Eingabefeld in dem "halbe Breite" Container */
.inputContainer.halfWidth:last-of-type {
    margin-right: 0;
}

.dashContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -0.5em;
    left: -22.5px;
    top: -20px;
  }
  
  .dash {
    position: absolute;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.02em;
    color: #000000;
  }
  
  .halfWidthWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  

  