
.listContainer {
    padding: 20px;
    border-radius: 10px;
    max-height: 500px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: lightgray transparent;
    max-width: 400px;
}

.titleStyle {
    background-color: #ffffff;
    color: blue;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

.entryList {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
}

.entryStyle {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
}

.headerStyle {
    font-weight: bold;
}

.nameStyle {
    flex-basis: 50%;
}

.clubStyle {
    flex-basis: 50%;
}
