.listContainer {
    padding-left: 1.25em; /* 20px/16 */
    padding-right: 1.25em; /* 20px/16 */
    border-radius: 0.625em; /* 10px/16 */
}


.titleStyleList {
    color: #001AFF;
    padding-bottom: 0em;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
}

.entryList {
    padding: 1.25em; /* 20px/16 */
}


.entryStyle {
    font-family: 'Nunito';
    display: flex;
    font-weight: 400;
    align-items: stretch;
    border-bottom: 0.063em solid #EEEEF2;
    color: #242533;
    
}


.headerStyle {
    font-family: 'Nunito';
    font-weight: 700;
    color: #484964;
}

.nameStyle {
    flex-basis: 50%;
    width: 15em; 
    height: 2.25em; 
    background-color: #f9f9fc;
    padding: 0.6em; 
    text-indent: 1em; /* Verschiebt den Text nach rechts */
    }
    
    .clubStyle {
    flex-basis: 50%;
    width: 15em; 
    height: 2.25em; 
    background-color: #f9f9fc;
    padding: 0.6em; 
    text-indent: 1em; /* Verschiebt den Text nach rechts */
    }
