.listContainer {
    padding-left: 1.25em; /* 20px/16 */
    padding-right: 1.25em; /* 20px/16 */
    border-radius: 0.625em; /* 10px/16 */
}



.centeredContainerHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerBanner {
    height: 12vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}



.titleStyleList {
    color: #001AFF;
    padding-bottom: 0em;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
}

.entryList {
    padding: 1.25em; /* 20px/16 */
    height: 78%;
}



.headerStyle {
    font-family: 'Nunito';
    font-weight: 700;
    color: #484964;
}



/* Neue Stile für die detaillierte Ansicht */
.cityStyle,
.idStyle,
.participantIdStyle,
.weightClassStyle,
.birthdateStyle,
.nameStyle,
.clubStyle {
    color: #484964;
    flex: 1;
    min-height: auto;
    background-color: #f9f9fc;
    padding: 0.6em;
    text-indent: 1em;
}
.entryStyle {
    position: relative;
    font-family: 'Nunito';
    justify-content: space-between;
    display: flex;
    align-items: stretch;
    border-bottom: 0.063em solid #EEEEF2;
    color: #242533;
}
