$screen-mid: 992px;
$screen-normal: 993px;

@mixin small{
  @media (max-width: #{$screen-mid}) {
    @content;
  }
}

@mixin normal{
  @media (min-width: #{$screen-normal}) {
    @content;
  }
}

.fightModeContainer{
    display: grid;
    grid-template-areas: 
    'header header header'
    'menuOne menuTwo menuThree'
    'container container container';
    margin-top: .5rem;
    padding: 1rem
}

.headerBannerGridArea{
  grid-area: header;
}

.fightModeContainer {
    .menuClasses,
    .menuRulesTeenagers,
    .menuRulesAdults {
      background-color: #F3F3F3;
      color: 001AFF;
      padding: 10px;
      cursor: pointer;
  
      &:hover {
        background-color: lightgray;
      }
  
      &.selected {
        background-color: white;
        color: 001AFF;
        border: 1px groove;
      }
    }
  }

    .menuClasses,
    .menuRulesAdults,
    .menuRulesTeenagers{
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #001AFF;
        background-color: #F3F3F3;
    }


.menuRulesAdults{
    grid-area: menuOne;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 5px 5px 0px 0px;
}

.menuRulesTeenagers{
    grid-area: menuTwo;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0px 0px;

}


.menuClasses{
    grid-area: menuThree;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
}

.contentContainer{
    grid-area: container;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px groove;
    overflow: auto;
}

.mainContainerContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}

.eponWasariContainer{
  display: grid;
  grid-template-columns: auto;
  width: 100%;
}

.ageLimitAndFightDurationContainer,
.holdTimeEponWasari,
.pointsEponWasariContainer{
  display: grid;
  grid-template-columns: auto 4% auto;
  margin-bottom: 2rem;
  
  @include small{
    grid-template-columns: auto;
  }
}

.ageLimitContainer,
.holdTimeEpponContainer,
.pointsEpponContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fightDurationContainer,
.pointsWasariContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;

  @include small{
    margin-top: 2rem;
  }
}

.mainContentContainer{
  display: grid;
  width: 100%;
  grid-template-areas:
  'listWomen inputContent'
  'listMen inputContent';
  padding-top: 20px;
}

.womenAgeClassesContainer{
  grid-area: listWomen;
  display: grid;
  grid-template-columns: auto;
  width: 70%;
  background-color: #F9F9FC;
  
}

.menAgeClassesContainer{
  grid-area: listMen;
  width: 70%;
  margin-top: 3%;
  background-color: #F9F9FC;
}

.category{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Nunito';
  font-style: normal;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  padding: 10%;
  border-bottom: 1px groove;
  border-top: 1px groove;
}

.rows{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-bottom: 1px groove;

}

.classesInputContent{
  grid-area: inputContent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
 
}

.marginToOtherFields{
  margin-bottom: 1rem;
}