$screen-mid: 888px;
$screen-normal: 1000px;

@mixin small{
  @media (max-width: #{$screen-mid}) {
    @content;
  }
}

@mixin normal{
  @media (min-width: #{$screen-normal}) {
    @content;
  }
}

.fighterEditMain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.buttonSectionFighterEdit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 4em;
    width: 100%;

    @include small {
        margin-top: 5em;
    }
}

/* Styling für den "Hinzufügen" Button beim Mouseover */
.editFighter:hover {
    background: #000A91;
    cursor: pointer;
}


.deleteFighter:hover {
    background: #720000;
    cursor: pointer;
}