$screen-mid: 888px;
$screen-normal: 1000px;

@mixin small{
  @media (max-width: #{$screen-mid}) {
    @content;
  }
}

@mixin normal{
  @media (min-width: #{$screen-normal}) {
    @content;
  }
}


.editFighter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 367px;
    height: 1.6875em;
    background: #001AFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 1.5em;
    font-weight: 900;
    letter-spacing: -0.02em;
    border: none;
}

.deleteFighter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 367px;
    height: 43px;
    background: #B40000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 1.5em;
    font-weight: 900;
    line-height: 2.0625em;
    letter-spacing: -0.02em;
    border: none;
    cursor: pointer;
    margin-top: 10px; /* Hier wird der Abstand nach oben festgelegt */

}

.buttonSectionFighterEdit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 5vh;

    @include small {
        margin-top: 6vh;
    }
}

/* Styling für den "Hinzufügen" Button beim Mouseover */
.editFighter:hover {
    background: #000A91;
    cursor: pointer;
}


.deleteFighter:hover {
    background: #720000;
    cursor: pointer;
}