.mainRectangleContainer{
    display: grid;
    width: 100%;
    grid-template-columns: auto 15% auto;
    grid-template-areas: 
    'topBox horizontalTopLine empty'
    'borderRightContainer empty2 winnerBox'
    'bottomBox horizontalBottomLine empty3';
}

.borderRightContainer{
    grid-area: borderRightContainer;
    border-right: 1px solid;
}

.rectangleTopContainer{
    grid-area: topBox;
    display: flex;
    flex-direction: column;
    border-right: 1px solid;
    background-color: #E1E8F2;
 
}

.empty2{
    grid-area: empty2;
    padding: 0px;
}

.horizontalTopLine{
    grid-area: horizontalTopLine;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.horizontalBottomLine{
    grid-area: horizontalBottomLine;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lineContainer{
    border-right: 1px solid;
    height: 100%;
    align-items: center;
}

.empty3{
    grid-area: empty3;
    display: grid;
    grid-template-columns: 50% 50%;
}

.empty{

    grid-area: empty;
    padding: 0px;
}


.rectangeBottomContainer{
    background-color: #E1E8F2;
    grid-area: bottomBox;
    border-right: 1px solid;

}

.rectangeWinnerContainer{
    background-color: #E1E8F2;
    grid-area: winnerBox;
   border-left: 1px solid;

}