$screen-mid: 992px;
$screen-normal: 993px;

@mixin small {
  @media (max-width: #{$screen-mid}) {
    @content;
  }
}

@mixin normal {
  @media (min-width: #{$screen-normal}) {
    @content;
  }
}

.mainContainerFighterDetails{
  display: grid;
  grid-template-areas:
  "fightGroup fighterOne fighterTwo"
  "button button button";
  width: 100vw;

  @include small{
    display: grid;
    grid-template-areas:
    "fightGroup"
    "fighterOne"
    "fighterTwo"
    "button";
  }
}

.fightGroupContainer{
  grid-area: fightGroup;
  display: flex;
  flex-direction: column;
  padding-inline: 10%;
  padding-block: 5%;

  @include small{
    width: 100vw;
    padding-inline: 5%;
    padding-top: 5%;
    padding-bottom: 0%;
  }
}

.fighterOneContainer{
  grid-area: fighterOne;
  display: flex;
  flex-direction: column;
  padding-inline: 10%;
  padding-block: 5%;

  @include small{
    width: 100vw;
    padding-inline: 5%;
    padding-top: 5%;
    padding-bottom: 0%;
  }

}

.fighterTwoContainer{
  grid-area: fighterTwo;
  display: flex;
  flex-direction: column;
  padding-inline: 10%;
  padding-block: 5%;

  @include small{
    width: 100vw;
    padding-inline: 5%;
    padding-top: 5%;
    padding-bottom: 0%;
  }

}

.buttonContainer{
  grid-area: button;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;

  .blueButtonWidth{
    width: 27vw;

    @include small{
      width: 90vw;
    }
  }
}
