.nameStyle,
.clubStyle,
.locationStyle,
.cityStyle,
.idStyle,
.participantIdStyle,
.weightClassStyle,
.birthdateStyle,
.numClubsStyle,
.numParticipantsStyle,

/* Inhalt von Ort und Tournier-ID blau, da sie klickbar sein sollen (Linking) */
.idStyleContent,
.locationStyleContent

{
    color: #484964;
    flex: 1 1 0px;
    min-height: auto;
    background-color: #f9f9fc;
    padding: 0.6em;
    text-indent: 1em;
    overflow-wrap: break-word; /* Fügt die Eigenschaft overflow-wrap hinzu, um den Text bei Bedarf zu umbrechen */
}


.locationStyleContent {
    color: #001AFF; /* Farbe für den Ort */
}

.idStyleContent {
    color: #001AFF; /* Farbe für die Turnier-ID */
}
