.modal {
    display: flex;
    justify-content: center;
    align-items: center; /* Zentriert das Modal vertikal */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: #fefefe;
    margin: auto;
    padding: 4%;
    border: 1px solid #888;
    width: 90%;
    height: 90%;
    position: relative;
    overflow-y: auto;
}

.close {
    color: #56595E;
    font-size: 2.8vh;
    font-weight: bold;
    position: absolute;
    top: 2vh;
    right: 2vh;
    transform: translate(50%, -50%);
}


.confirmDeletePopUp {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25%;
    height:40%;;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.headTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 513px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #001AFF;
}


.abortDeleteButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;
    position: absolute;
    width: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #001AFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}


.abortDeleteButtonText{
    /* Button Text Style

    Buttons
    */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */


    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.ConfirmDeleteButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;

    position: absolute;
    width: 70%;
    height: 43px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);

    background: #B40000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}


.ConfirmButtonText{
    /* Label */

    /* Button Text Style

    Buttons
    */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */


    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45%;
}