.tournament-table {
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 20px;
}

.tournament-table .group {
  width: 100%; 
  margin-bottom: 20px; 
}

.tournament-table .group table {
  width: 100%;
  border-collapse: collapse;
}

.tournament-table .group th, .tournament-table .group td {
  border: 1px solid #ddd;
  padding: 8px;
}

.tournament-table .group th {
  background-color: #001AFF;
  color: white;
}
