.cards-container {
  background-color: rgba(39, 39, 39, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 20%;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}


.card-six,
.card-one,
.card-two,
.card-three,
.card-four,
.card-five {
  /* Button Teilnehmer */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 40vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.card-one {
  background: #001AFF;
}

.card-two {
  background: #FFFFFF;
}

.card-three {
  background: #001AFF;
}

.card-four {
  background: #FFFFFF;
}

.card-five {
  background: #001AFF;
}

.card-six{
  background: #FFFFFF;
}


.card-text-white,
.card-text-blue {
  /* Teilnehmer */
  display: flex;
  flex-direction: column; /* Icon über dem Text anordnen */
  align-items: center;
  justify-content: center;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  padding: 5%;
  font-size: 1.2vw; /* Schriftgröße in vw */
  line-height: 2.5vh; /* Zeilenhöhe in vh */
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.card-text-white {
  color: #FFFFFF;
}

.card-text-blue {
  color: rgba(0, 26, 255, 0.86);
}

.card-icon-white,
.card-icon-blue {
  /* Icon-Styling */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 2vw; /* Icon-Größe in vw */
}

.card-icon-white {
  color: white;
}

.card-icon-blue {
  color: blue;
}

.currentFightLabel {
  /* Aktueller Kampf: */
  position: absolute;
  width: 30vw; /* Breite in vw */
  height: 5vh; /* Höhe in vh */
  left: 1vw; /* Abstand zur linken Seite in vw */
  top: calc(40vh + 25vh + 5vh - 8vh); /* Abstand von den Cards Were der Cards usw. nötig! */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5vw; /* Schriftgröße in vw */
  line-height: 3vh; /* Zeilenhöhe in vh */
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.currentFightPreview {
  /* Aktueller Kampf: */
  position: absolute;
  border: 1px solid;
  text-align: center;
  width: 35vw; /* Breite in vw */
  height: 20vh; /* Höhe in vh */
  left: 1vw; /* Abstand zur linken Seite in vw */
  top: calc(40vh + 25vh + 10vh + 5vh - 8vh); /* Abstand von den Cards Were der Cards usw. nötig! */
  border-color: black;
  color: red;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
