$screen-mid: 992px;
$screen-normal: 993px;

@mixin small {
  @media (max-width: #{$screen-mid}) {
    @content;
  }
}

@mixin normal {
  @media (min-width: #{$screen-normal}) {
    @content;
  }
}

.rightFigherContainer{
    background-color: blue;
    display: grid;
    grid-template-columns: auto;
    width: 50%;
    grid-template-rows: .2fr .2fr .2fr;

    @include small{
        width: 100%;
    }
}

.nameTextRight{ 
    color: white;
    font-size: 3rem;
    padding-inline: 1rem;

}

.clubTextRight{
    color: white;
    font-size: 2.5rem;
    padding-inline: 1rem;

}

.landesverbandTextRight{
    color: white;
    font-size: 2rem;
    padding-inline: 1rem;
}

.fighterStatsContainer{
    display: grid;
    grid-template-columns: 10% 5% auto;
    width: 100%;
    padding-inline: 1rem;
}

.ipponFighterRight{
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 5rem;
    color: white;
}

.wazaariRightFighter{
    display: flex;
    justify-content: flex-start;
    margin-left: 1rem;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 3.5rem;
    color: white;
}

.cardContainer{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 3.5rem;
}