.floatingBottomTimer{
    display: flex;  
    position: fixed;
    background-color: white;
    color: red;
    border: 1rem solid black;
    top: 85vh;
    left: 40vw;
    width: 20vw;
    height: 10vh;
    min-width: 20vw;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 4rem;
  }
  
  .blueBackground {
    background-color: blue;
    color: white;
    transition: ease-out 1s;
    /* Weitere Stile für den blauen Hintergrund, falls gewünscht */
  }
  
  .whiteBackground{
    background-color: white;
    transition: ease-out 1s;
    color: black;
  }