.mainTimerBannerContainer{
    display: grid;
    grid-template-columns: 25% auto 25%;
    width: 100%;
    height: 20%;
    background-color: #272727;
    padding-block: 5rem;
    align-items: center;
}

.weightClassText{
    display: flex;
    color: #FFC700;
    font-weight: bold;
    font-size: 3rem;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2rem;

}

.timerText{
    display: flex;
    color: red;
    font-size: 5rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.fightID{
    display: flex;
    color: #FFC700;
    font-size: 3rem;
    font-weight: bold;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
}