$screen-mid: 992px;
$screen-normal: 993px;

@mixin small{
  @media (max-width: #{$screen-mid}) {
    @content;
  }
}

@mixin normal{
  @media (min-width: #{$screen-normal}) {
    @content;
  }
}


.buttonContainerTournamentManager{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

    @include small{
        width: 75%;
    }
}