$screen-mid: 1000px;
$screen-normal: 1001px;

@mixin small{
  @media (max-width: #{$screen-mid}) {
    @content;
  }
}

@mixin normal{
  @media (min-width: #{$screen-normal}) {
    @content;
  }
}

.innerContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.listSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    @include small{
        padding-top: 5%;
    }
}

.formContainer {
    flex: 1;
}

.listContainer {
    flex: 1;
    max-height: 37.5em; /* 600px/16 */
    border-radius: 0.625em; /* 10px/16 */
}

.entryList {
    min-width: 30em;
    padding-top: 1.25em; /* 20px/16 */
    padding-right: 0em;
    max-height: 37.5em; /* 600px/16 */
    overflow-y: auto;
    border-radius: 0.625em; /* 10px/16 */
}

.successPopup {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
}