$screen-mid: 1000px;
$screen-normal: 1001px;

@mixin small {
  @media (max-width: #{$screen-mid}) {
    @content;
  }
}

@mixin normal {
  @media (min-width: #{$screen-normal}) {
    @content;
  }
}

/*

.listContainer {
    flex: 1;
    max-height: 37.5em;
    border-radius: 0.625em; 
}
*/

.successPopup {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  z-index: 1000;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
