$screen-mid: 768px;
$screen-normal: 1000px;

@mixin small{
  @media (max-width: #{$screen-mid}) {
    @content;
  }
}

@mixin normal{
  @media (min-width: #{$screen-normal}) {
    @content;
  }
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center; /* Zentriert das Modal vertikal */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: white;
    margin: auto;
    padding: 4%;
    border: 1px solid #888;
    width: 90%;
    height: 90%;
    position: relative;
    overflow-y: auto;
}

.close {
    color: #56595E;
    font-size: 2.8vh;
    font-weight: bold;
    position: absolute;
    top: 2vh;
    right: 2vh;
    transform: translate(50%, -50%);
}


.modal.large .modal-content {
    width: 90%;
    height: 90%;
}

.modal.small .modal-content {
    width: 40%;
    height: 40%;
}
